/*Notes on Project*/
/*I tried to keep viewing on a mobile devise in mind while working on this project. Therefore in certain sections, specifically the Location Section, where I found that I could either get them to look exactly like the redline or get them to resize when adjusting the browser size I decided to prioratize flexability.*/

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.content-container {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

.image-container {
  display: flex;
  flex: 1 1 1200px;
  margin: 0 32px;
  background-size: cover;
  align-items: center;
}

  /* Header Section */

header {
  position: fixed;
  display: flex;
  align-items: center;
  height: 69px;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid seashell;
  z-index: 1;
}

header img {
  height: 50px;
  margin-left: 10px;
}

header nav {
  display: flex;
  margin: 0 10px 0 auto;
  justify-content: space-between;
}

header li {
  display: inline-block;
  padding: 0 10px;
}

header a {
  color: seashell;
}

/* Mission Section */

#mission {
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  background-position: center;
}

.mission-text {
  background-color: black;
  flex: 0 1 100%;
}

/* Tea of the Month Section */
.feature-section {
  width: 1000px;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.boxes {
  flex: 0 1 300px;
  padding: 10px;
}

.boxes img {
  height: 200px;
}

.boxes h4 {
  margin-top: 10px;
}

/* Locations Section */

#location {
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  background-position: top;
}

.location-text {
  flex: 0 1 100%;
}

.location-text h2 {
  margin: 0 0 15px 0;
}

.column-container {
  display: flex;
  justify-content: center;
}

.columns {
  flex: 0 1 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 20px;
  margin-left: 20px;
  background-color: black;
  opacity: 1;
}

/* Contact Section */

#contact {
  padding-top: 0px;
}

.contact {
  height: 200px;
}

/* Copyright */

footer {
  text-align: left;
  padding: 32px 20px;
}
