body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

  /* Header Section */

header {
  position: fixed;
  display: flex;
  align-items: center;
  height: 69px;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid seashell;
  z-index: 1;
}

header img {
  height: 50px;
  margin-left: 10px;
}

header nav {
  display: flex;
  margin: 0 10px 0 auto;
  justify-content: space-between;
}

header li {
  display: inline-block;
  padding: 0 10px;
}

header a {
  color: seashell;
}

/* Mission Section */

.content-container {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

.mission-section {
  display: flex;
  height: 700px;
  flex: 1 1 1200px;
  margin: 0 48px;
  background-image: url("../images/img-mission-background.jpg");
  background-position: center;
  background-size: cover;
  align-items: center;
  /* justify-content: center; */
}

.mission-text {
  background-color: black;
  flex: 0 1 1200px;
}

/* Tea of the Month Section */

/* Locations Section */

/* Contact Section */

/* Copyright */
